.body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
    background-color: aqua;
    margin: 50px 100px;
    padding: 50px;
    border-radius: 5%;
    color: blue;
}
