.main{
    background-color: rgb(247, 104, 104);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px black;
                /* 2px 0px 0px 2px  gray; */
    margin: 10px;
}