.main{
    position: relative;
    top: 50px;
    left: 300px;
    height:16em ;
    width: 10%;
    padding: 5px 10px;
    margin: 20px;
    /* text-align: center; */
    /* justify-content: center; */
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: transparent;
    font-size: 15px;
    display: inline-block ;

}

.main:hover{
    background-color: rgb(75, 109, 118);
    color:white;
}